body {
  font-family: sans-serif;
  padding: 10px 5%;
}

p {
  letter-spacing: 0.02em;
}

.code-box {
  padding-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 3px solid rgba(100,100,100,0.3);
  background: rgba(200,200,255,0.1);
}

code {
  color: rgb(255,50,100);
}

.indent {
  padding-left: 15px;
}
